*{
    margin: 0px;
    border: 0px;
}

body{
    background-color: #474bff;
    background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background-attachment: fixed;
}

.second-block{
    position: absolute;
    left: 251px;
    height: 700px;
    width: 1000px;
    background: rgba(255,255,255, 0.3);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    top: 50px;
    box-shadow: 21px 19px 50px 0 #02020296;;
}

.presentation{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.presentation img{
    margin-top: 30px;
}

#img-circle{
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.description{
    position: absolute;
    top: 530px;
    right: 250px;
    font-size: large;
    width: 700px;
    margin-left: 251px;
    
}

.contact{
    position: absolute;
    top: 100px;
    line-height: 50px;
    margin-left: 60px;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 5px;
}

.contact h3{
    margin-left: 15px;
}

.contact ul{
    list-style: none;
}

#linkedin img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    bottom: 160px;
}

#instagram img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    bottom: 110px;
}

#facebook img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    bottom: 60px;
}

#github img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    bottom: 10px;
}

.skills{
    position: absolute;
    left: 700px;
    top: 100px;
    padding: 5px;
    width: 250px;
    line-height: 20px;
}
.skills ul{
    list-style: none;
    margin-top: 100px;
}

#skills-title{
    /*font-family: 'Roboto', sans-serif;*/
    position: absolute;
    right: 45px;
    top: 40px;
}

#first-skill{
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 21px 10px 60px 0 #02020296;
    padding: 15px;
}

#second-skill{
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 21px 10px 60px 0 #02020296;
    padding: 15px;
}

#third-skill{
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 21px 10px 60px 0 #02020296;
    padding: 15px;
}

#description-title{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 5px;
    left: 300px;
}

#description-text{
    position: absolute;
    top: 50px;
}